.dog {
  width: 80%;
  height: auto;
}

.bgImage {
  width: 100%;
  height: 400px;
  background-color: aquamarine;
  background-image: url(./assets/dog.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.myVideo {
  width: 100%;
}
