body {
  background-color: #eee;
}

.container {
  display: flex;
  flex-direction: column;
}

.container div {
  padding: 20px;
  background-color: aliceblue;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}
