body {
  background-color: white;
}

.header {
  background-color: black;
  padding: 10px 0px 10px 0px;
  color: white;
  text-align: center;
  font-size: 40px;
}

* {
  box-sizing: border-box;
}

.menu {
  height: 200px;
  background-color: blue;
  width: 30%;
  float: left;
  padding: 10px;
}

.content {
  height: 200px;
  background-color: red;
  width: 70%;
  float: left;
  padding: 20px;
  opacity: 0.5;
}

.footer {
  background-color: aqua;
  clear: both;
}
